nav.button_bar{
    background-color: black;
    text-align: center;
    
}
h1{
    text-align: center;
}
.button_bar a{
    color: white;
    font-size: 23px; 
    padding: 60px; 
    text-decoration: NONE; 
    display: inline;
    text-align: center;
    display: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;





}
img{
    background-image: -moz-radial-gradient(chairty.jpg);
}
