body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color:#f4f4f4;
  }
  
  .container{
    width:80%;
    margin:auto;
    overflow:hidden;
  }
  
  ul{
    margin:0;
    padding:0;
  }
  
  .button_1{
    height:38px;
    background:#e8491d;
    border:0;
    padding-left: 20px;
    padding-right:20px;
    color:#ffffff;
  }
  
  
  
  
  header{
    background:darkslategrey;
    color:white;
    padding-top:30px;
    min-height:70px;
    border-bottom:coral 3px solid;
  }
  
  header a{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
  }
  
  header li{
    float:left;
    display:inline;
    padding: 0 20px 0 20px;
  }
  
  header #branding{
    float:left;
  }
  
  header #branding h1{
    margin:0;
  }
  
  header nav{
    float:right;
    margin-top:10px;
  }
  
  header .highlight, header .current a{
    color:coral;
    font-weight:bold;
  }
  
  header a:hover{
    color:#cccccc;
    font-weight:bold;
  }
  

  #showcase{
    background:url('images/kids.jpg')  ;
    background-size: cover; height: 480px; padding-top: 80px;
    text-align:center;
    color:white;
  }
  
  #showcase h1{
    margin-top:100px;
    font-size:55px;
    margin-bottom:10px;
  }
  
  #showcase p{
    font-size:20px;
  }
  

  #newsletter{
    padding:15px;
    color:white;
    background:#35424a;
  }
  
  #newsletter h1{
    float:left;
  }
  
  #newsletter form {
    float:right;
    margin-top:15px;
  }
  
  #newsletter input[type="email"]{
    padding:4px;
    height:25px;
    width:250px;
  }
  
  #boxes{
    margin-top:20px;
  }
  
  #boxes .box{
    float:left;
    text-align: center;
    width:30%;
    padding:10px;
  }
  
  #boxes .box img{
    width:90px;
  }
  
  
  footer{
    padding:20px;
    margin-top:20px;
    color:#ffffff;
    background-color:#e8491d;
    text-align: center;
  }
  
  
  @media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box{
      float:none;
      text-align:center;
      width:100%;
    }
  
    header{
      padding-bottom:20px;
    }
  
    #showcase h1{
      margin-top:40px;
    }
  
    #newsletter button, .quote button{
      display:block;
      width:100%;
    }
  
    #newsletter form input[type="email"], .quote input, .quote textarea{
      width:100%;
      margin-bottom:5px;
    }
  }
  